---
layout: default
---
<h1>Release notes</h1>

<section id="recent-posts" class="all">
  {% for _note in paginator.releasenotes %}
    <div class="post recent">
      <h3><a href="{{ site.baseurl }}{{ _note.url }}">{{ _note.title }}</a></h3>    
      <blockquote>
        {{ _note.exerpt | markdownify }}
      </blockquote>
      <p><a href="{{ _note.url }}" title="{{ _note.title }}">Read more…</a></p>
    </div>
    {% unless forloop.index == paginator.posts.size %}
      <hr>
    {% endunless %}
  {% endfor %}
</section>
{% if paginator.total_notes > 1 %}
  <section class="pagination">
    {% if paginator.previous_note %}
      <a href="{{ paginator.previous_note_path }}" class="previous">Previous</a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_notes }}</span>
    {% if paginator.next_note %}
      <a href="{{ paginator.next_note_path }}" class="next">Next</a>
    {% else %}
      <span class="next">Next</span>
    {% endif %}
  </section>
{% endif %}


 